@import "./style/common.css";

#product-overview {
    background-image: url("./images/easy_cooking.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right; /* left top right botton */
    width: 100%;
    height: 20vh;
    padding: 10px;
    position: relative;
}

#product-overview h1 {
    color: var(--dark-color);
    position: absolute;
    bottom: 0;
    left: 5%;
    font-size: 1.6rem;
}

.plans {
    text-align: center;
}

.section-title {
    color: var(--primary-color);
}

.plan {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    text-align: center;
    background-color: var(--terciary-color);
    padding: 16px;
    margin: 6px;
    border-radius: 8px;
    height: 45vh;
    max-width: 330px;
    min-width: 250px;
}

.plan button {
    position: absolute;
    right: 25%;
    left: 25%;
    bottom: 5%;
    /* max-width: 200px; */
}

.plan-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: 16px auto;
}

.plan-title__highlighted {
    position: absolute;
    left: 5%;
    right: 5%;
    top: 2%;
    background-color: var(--light-color);
    color: var(--primary-color);
    border: var(--primary-color) 2px solid;
    border-radius: 8px;
    padding: 4px;
    text-align: center;
}

.plan__highlighted {
    background-color: var(--accent-color);
    color: var(--light-color);
    box-shadow: 2px 4px 4px var(--shadow-color);
}

.plan-title {
    color: var(--secondary-color);
    margin: 0 10px;
    font-weight: bold;
}

.plan-price {
    color: var(--darkgrey-color);
}

.plan-features {
    text-decoration: none;
    list-style-type: none;
    margin: 4px;
    padding: 4px;
}

.plan-feature {
    padding: 3px;
}

/* max-width: until this width */
@media (max-width: 40rem) {
    .plan-list {
        width: 100%;
    }
    .plan {
        width: 90%;
        height: 45vh;
    }
}

/* max-width: until this width */
@media (max-width: 30rem) {
    .plan {
        width: 100%;
        max-width: none;
        height: 45vh;
        box-shadow: none;
        border-radius: 0%;
    }
    .key-feature__list {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .key-feature {
        width: 80%;
    }
    .plan button {
        left: 22.5%;
        right: 22.5%;
    }
}

/* 40rem = 640px in this case*/
/* min-width: from this width */
@media (min-width: 40rem) {
    #product-overview {
        height: 30vh;
    }
    #product-overview h1 {
        font-size: 3rem;
        color: var(--dark-color);
    }
}

/* 60rem = 960px in this case */
@media (min-width: 60rem) {
    #product-overview {
        height: 50vh;
    }
    .plan-list {
        flex-direction: row;
    }
    .plan button {
        left: 10%;
        right: 10%;
    }
}

